.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.closex{
  position: absolute;
  top: 27px;
  right: 50px;
}

.loadMore{
  margin-top: 60px;
}

.comp1{
  width: 127px;
  opacity: 0.55;
  margin-top: -45px;
}